.btn {
  display: inline-block;
  padding: 15px 30px;
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  border-radius: 9px;
  transition: all 350ms;
  background: none;
  &:hover {
    opacity: 0.9;
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    color: #fff !important;
    outline: none;
  }
}
.btn-primary {
  background-color: var(--scienceBlue);
  color: #fff;
  &:active {
    box-shadow: 0 0 0 0.25rem var(--scienceBlue-100);
  }
}